<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.shadowsocks.plugin.secureforwarder"
    android:installLocation="internalOnly">

    <application
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <provider android:name="com.github.shadowsocks.plugin.secureforwarder.BinaryProvider"
            android:exported="true"
            android:directBootAware="true"
            android:authorities="com.github.shadowsocks.plugin.secureforwarder.BinaryProvider">
            <intent-filter>
                <action android:name="com.github.shadowsocks.plugin.ACTION_NATIVE_PLUGIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.github.shadowsocks.plugin.ACTION_NATIVE_PLUGIN"/>
                <data android:scheme="plugin"
                    android:host="com.github.shadowsocks"
                    android:path="/sf"/>
            </intent-filter>
            <meta-data android:name="com.github.shadowsocks.plugin.id"
                android:value="sf"/>
            <!-- Optional: default is empty -->
            <meta-data android:name="com.github.shadowsocks.plugin.default_config"
                android:value="password=1234"/>
            <meta-data android:name="com.github.shadowsocks.plugin.executable_path"
                android:value="libsf.so"/>
        </provider>
    </application>
</manifest>
